.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: lightblue;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.centerAnimate {
  animation: MoveUp .5s linear infinite;
  animation-iteration-count: 1;
  top: 40%
}

@keyframes MoveUp {
  from{top:50%}
  to{top: 40%}
}



.FuckBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}


@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.infoStyle{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadeIn ease 2s;
}
